In [47]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import pymc3 as pm

In [48]:
df = pd.read_csv('D:/Germany/Study Files-TUD/TU Dortmund/--------Semester-8-Winter Term--------2023-2024/Applied Bayesian Data Analysis/Project/booking.csv')

In [49]:
df.head(3)

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,lead time,market segment type,repeated,P-C,P-not-C,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,Meal Plan 1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled

In [50]:
df.rename(columns={'Booking_ID':'Booking_ID','number of adults':'number_of_adults', 'number of children':'number_of_children',
                   'number of weekend nights':'number_of_weekend_nights', 'number of week nights':'number_of_week_nights',
                   'type of meal':'type_of_meal','car parking space':'car_parking_space', 'room type':'room_type',
                   'lead time':'lead_time', 'market segment type':'market_segment_type','number of adults':'number_of_adults', 'average price':'average_price','special requests':'special_requests', 
                  'date of reservation':'date_of_reservation','booking status':'booking_status'}, inplace=True)

In [51]:
df.head(3)

,Booking_ID,number_of_adults,number_of_children,number_of_weekend_nights,number_of_week_nights,type_of_meal,car_parking_space,room_type,lead_time,market_segment_type,repeated,P-C,P-not-C,average_price,special_requests,date_of_reservation,booking_status
0,INN00001,1,1,2,5,Meal Plan 1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled

In [52]:
df.tail(3)

,Booking_ID,number_of_adults,number_of_children,number_of_weekend_nights,number_of_week_nights,type_of_meal,car_parking_space,room_type,lead_time,market_segment_type,repeated,P-C,P-not-C,average_price,special_requests,date_of_reservation,booking_status
36282,INN36284,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,Online,0,0,0,105.61,1,12/26/2018,Not_Canceled
36283,INN36285,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,Offline,0,0,0,96.90,1,7/6/2018,Not_Canceled
36284,INN36286,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,Online,0,0,0,133.44,3,10/18/2018,Not_Canceled

In [53]:
df.describe

<bound method NDFrame.describe of       Booking_ID  number_of_adults  number_of_children  \
0       INN00001                 1                   1
1       INN00002                 1                   0
2       INN00003                 2                   1
3       INN00004                 1                   0
4       INN00005                 1                   0
...          ...               ...                 ...
36280   INN36282                 2                   0
36281   INN36283                 2                   0
36282   INN36284                 2                   0
36283   INN36285                 3                   0
36284   INN36286                 2                   0

       number_of_weekend_nights  number_of_week_nights  type_of_meal  \
0                             2                      5   Meal Plan 1
1                             1                      3  Not Selected
2                             1                      3   Meal Plan 1
3                             0                      2   Meal Plan 1
4                             1                      2  Not Selected
...                         ...                    ...           ...
36280                         0                      2   Meal Plan 2
36281                         1                      3   Meal Plan 1
36282                         1                      3   Meal Plan 1
36283                         0                      4   Meal Plan 1
36284                         0                      5   Meal Plan 1

       car_parking_space    room_type  lead_time market_segment_type  \
0                      0  Room_Type 1        224             Offline
1                      0  Room_Type 1          5              Online
2                      0  Room_Type 1          1              Online
3                      0  Room_Type 1        211              Online
4                      0  Room_Type 1         48              Online
...                  ...          ...        ...                 ...
36280                  0  Room_Type 1        346              Online
36281                  0  Room_Type 1         34              Online
36282                  0  Room_Type 4         83              Online
36283                  0  Room_Type 1        121             Offline
36284                  0  Room_Type 4         44              Online

       repeated  P-C  P-not-C  average_price  special_requests  \
0             0    0        0          88.00                 0
1             0    0        0         106.68                 1
2             0    0        0          50.00                 0
3             0    0        0         100.00                 1
4             0    0        0          77.00                 0
...         ...  ...      ...            ...               ...
36280         0    0        0         115.00                 1
36281         0    0        0         107.55                 1
36282         0    0        0         105.61                 1
36283         0    0        0          96.90                 1
36284         0    0        0         133.44                 3

      date_of_reservation booking_status
0               10/2/2015   Not_Canceled
1               11/6/2018   Not_Canceled
2               2/28/2018       Canceled
3               5/20/2017       Canceled
4               4/11/2018       Canceled
...                   ...            ...
36280           9/13/2018       Canceled
36281          10/15/2017   Not_Canceled
36282          12/26/2018   Not_Canceled
36283            7/6/2018   Not_Canceled
36284          10/18/2018   Not_Canceled

[36285 rows x 17 columns]>

In [54]:
df.shape

(36285, 17)

In [55]:
df.columns

Index(['Booking_ID', 'number_of_adults', 'number_of_children',
       'number_of_weekend_nights', 'number_of_week_nights', 'type_of_meal',
       'car_parking_space', 'room_type', 'lead_time', 'market_segment_type',
       'repeated', 'P-C', 'P-not-C', 'average_price', 'special_requests',
       'date_of_reservation', 'booking_status'],
      dtype='object')

In [56]:
df.isna().sum()

Booking_ID                  0
number_of_adults            0
number_of_children          0
number_of_weekend_nights    0
number_of_week_nights       0
type_of_meal                0
car_parking_space           0
room_type                   0
lead_time                   0
market_segment_type         0
repeated                    0
P-C                         0
P-not-C                     0
average_price               0
special_requests            0
date_of_reservation         0
booking_status              0
dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36285 entries, 0 to 36284
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Booking_ID                36285 non-null  object
 1   number_of_adults          36285 non-null  int64
 2   number_of_children        36285 non-null  int64
 3   number_of_weekend_nights  36285 non-null  int64
 4   number_of_week_nights     36285 non-null  int64
 5   type_of_meal              36285 non-null  object
 6   car_parking_space         36285 non-null  int64
 7   room_type                 36285 non-null  object
 8   lead_time                 36285 non-null  int64
 9   market_segment_type       36285 non-null  object
 10  repeated                  36285 non-null  int64
 11  P-C                       36285 non-null  int64
 12  P-not-C                   36285 non-null  int64
 13  average_price             36285 non-null  float64
 14  special_requests          36285 non-null  int64
 15  date_of_reservation       36285 non-null  object
 16  booking_status            36285 non-null  object
dtypes: float64(1), int64(10), object(6)
memory usage: 4.7+ MB

In [58]:
df['booking_status'].value_counts()
print(df['booking_status'].value_counts())

Not_Canceled    24396
Canceled        11889
Name: booking_status, dtype: int64

In [59]:
df = df.drop(['Booking_ID', 'date_of_reservation'], axis=1)

In [60]:
df

,number_of_adults,number_of_children,number_of_weekend_nights,number_of_week_nights,type_of_meal,car_parking_space,room_type,lead_time,market_segment_type,repeated,P-C,P-not-C,average_price,special_requests,booking_status
0,1,1,2,5,Meal Plan 1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,Not_Canceled
1,1,0,1,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,Not_Canceled
2,2,1,1,3,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,50.00,0,Canceled
3,1,0,0,2,Meal Plan 1,0,Room_Type 1,211,Online,0,0,0,100.00,1,Canceled
4,1,0,1,2,Not Selected,0,Room_Type 1,48,Online,0,0,0,77.00,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36280,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,Online,0,0,0,115.00,1,Canceled
36281,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,Online,0,0,0,107.55,1,Not_Canceled
36282,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,Online,0,0,0,105.61,1,Not_Canceled
36283,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,Offline,0,0,0,96.90,1,Not_Canceled
36284,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,Online,0,0,0,133.44,3,Not_Canceled

In [61]:
df = pd.get_dummies(df, columns=['type_of_meal', 'room_type', 'market_segment_type'])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36285 entries, 0 to 36284
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   number_of_adults                   36285 non-null  int64
 1   number_of_children                 36285 non-null  int64
 2   number_of_weekend_nights           36285 non-null  int64
 3   number_of_week_nights              36285 non-null  int64
 4   car_parking_space                  36285 non-null  int64
 5   lead_time                          36285 non-null  int64
 6   repeated                           36285 non-null  int64
 7   P-C                                36285 non-null  int64
 8   P-not-C                            36285 non-null  int64
 9   average_price                      36285 non-null  float64
 10  special_requests                   36285 non-null  int64
 11  booking_status                     36285 non-null  object
 12  type_of_meal_Meal Plan 1           36285 non-null  uint8
 13  type_of_meal_Meal Plan 2           36285 non-null  uint8
 14  type_of_meal_Meal Plan 3           36285 non-null  uint8
 15  type_of_meal_Not Selected          36285 non-null  uint8
 16  room_type_Room_Type 1              36285 non-null  uint8
 17  room_type_Room_Type 2              36285 non-null  uint8
 18  room_type_Room_Type 3              36285 non-null  uint8
 19  room_type_Room_Type 4              36285 non-null  uint8
 20  room_type_Room_Type 5              36285 non-null  uint8
 21  room_type_Room_Type 6              36285 non-null  uint8
 22  room_type_Room_Type 7              36285 non-null  uint8
 23  market_segment_type_Aviation       36285 non-null  uint8
 24  market_segment_type_Complementary  36285 non-null  uint8
 25  market_segment_type_Corporate      36285 non-null  uint8
 26  market_segment_type_Offline        36285 non-null  uint8
 27  market_segment_type_Online         36285 non-null  uint8
dtypes: float64(1), int64(10), object(1), uint8(16)
memory usage: 3.9+ MB

In [63]:
X = df.drop('booking_status', axis=1)
y = df['booking_status']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [65]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [66]:
feature_importances = pd.Series(model.feature_importances_, index=X.columns)
feature_importances.sort_values(ascending=False, inplace=True)
print(feature_importances)

lead_time                            0.408340
average_price                        0.239692
special_requests                     0.107625
number_of_week_nights                0.066054
number_of_weekend_nights             0.042196
number_of_adults                     0.027225
market_segment_type_Online           0.026971
market_segment_type_Offline          0.018659
type_of_meal_Meal Plan 2             0.007875
number_of_children                   0.007856
car_parking_space                    0.007044
type_of_meal_Meal Plan 1             0.006408
room_type_Room_Type 4                0.006312
room_type_Room_Type 1                0.006048
market_segment_type_Corporate        0.005525
type_of_meal_Not Selected            0.004584
repeated                             0.002731
room_type_Room_Type 2                0.002054
room_type_Room_Type 5                0.001694
P-not-C                              0.001568
room_type_Room_Type 6                0.001508
market_segment_type_Complementary    0.000766
room_type_Room_Type 7                0.000451
P-C                                  0.000389
market_segment_type_Aviation         0.000296
type_of_meal_Meal Plan 3             0.000075
room_type_Room_Type 3                0.000053
dtype: float64

In [67]:
print(df.columns)

Index(['number_of_adults', 'number_of_children', 'number_of_weekend_nights',
       'number_of_week_nights', 'car_parking_space', 'lead_time', 'repeated',
       'P-C', 'P-not-C', 'average_price', 'special_requests', 'booking_status',
       'type_of_meal_Meal Plan 1', 'type_of_meal_Meal Plan 2',
       'type_of_meal_Meal Plan 3', 'type_of_meal_Not Selected',
       'room_type_Room_Type 1', 'room_type_Room_Type 2',
       'room_type_Room_Type 3', 'room_type_Room_Type 4',
       'room_type_Room_Type 5', 'room_type_Room_Type 6',
       'room_type_Room_Type 7', 'market_segment_type_Aviation',
       'market_segment_type_Complementary', 'market_segment_type_Corporate',
       'market_segment_type_Offline', 'market_segment_type_Online'],
      dtype='object')

In [68]:
with pm.Model() as bayesian_model:
    # Define your Bayesian model here
    # For example, use a logistic regression model
    pm.glm.GLM.from_formula('booking_status ~ lead_time + number_of_adults + number_of_children + number_of_weekend_nights + number_of_week_nights + special_requests', df)
    trace = pm.sample(10, tune=50)

# Check the summary of the Bayesian model
print(pm.summary(trace))

The glm module is deprecated and will be removed in version 4.0
We recommend to instead use Bambi https://bambinos.github.io/bambi/
C:\Users\Jishan\anaconda3\lib\site-packages\deprecat\classic.py:215: FutureWarning: In v4.0, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  return wrapped_(*args_, **kwargs_)
Only 10 samples in chain.
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
C:\Users\Jishan\anaconda3\lib\site-packages\theano\tensor\elemwise.py:826: RuntimeWarning: divide by zero encountered in log
  variables = ufunc(*ufunc_args, **ufunc_kwargs)
C:\Users\Jishan\anaconda3\lib\site-packages\theano\tensor\elemwise.py:826: RuntimeWarning: invalid value encountered in multiply
  variables = ufunc(*ufunc_args, **ufunc_kwargs)
Multiprocess sampling (4 chains in 4 jobs)
NUTS: [sd, special_requests, number_of_week_nights, number_of_weekend_nights, number_of_children, number_of_adults, lead_time, Intercept]

Sampling 4 chains for 50 tune and 10 draw iterations (200 + 40 draws total) took 2182 seconds.
C:\Users\Jishan\anaconda3\lib\site-packages\pymc3\sampling.py:659: UserWarning: The number of samples is too small to check convergence reliably.
  warnings.warn("The number of samples is too small to check convergence reliably.")
There was 1 divergence after tuning. Increase `target_accept` or reparameterize.
There was 1 divergence after tuning. Increase `target_accept` or reparameterize.
Got error No model on context stack. trying to find log_likelihood in translation.
C:\Users\Jishan\anaconda3\lib\site-packages\arviz\data\io_pymc3_3x.py:98: FutureWarning: Using `from_pymc3` without the model will be deprecated in a future release. Not using the model will return less accurate and less useful results. Make sure you use the model argument or call from_pymc3 within a model context.
  warnings.warn(

                           mean     sd  hdi_3%  hdi_97%  mcse_mean  mcse_sd  \
Intercept                 0.052  0.625  -0.984    0.553      0.198    0.144
lead_time                -0.087  0.126  -0.304    0.002      0.040    0.029
number_of_adults          0.095  0.289  -0.260    0.538      0.091    0.067
number_of_children        0.033  0.656  -0.918    0.824      0.207    0.151
number_of_weekend_nights  0.096  0.655  -0.775    0.766      0.207    0.151
number_of_week_nights    -0.135  0.396  -0.601    0.464      0.125    0.091
special_requests          0.505  0.564  -0.447    0.993      0.178    0.130
sd                        1.100  0.654   0.385    1.971      0.207    0.151

                          ess_bulk  ess_tail  r_hat
Intercept                     10.0      20.0   4.46
lead_time                     10.0      20.0   4.10
number_of_adults              11.0      28.0   3.52
number_of_children            11.0      20.0   3.68
number_of_weekend_nights      10.0      20.0   4.79
number_of_week_nights         10.0      20.0   4.79
special_requests              10.0      20.0   4.66
sd                            10.0      20.0   4.79

In [94]:
# Extract predictions from the trace for a specific iteration
iteration = 0  # Change this to the desired iteration
lead_time_values = trace['lead_time'][iteration]
print("Lead time values:", lead_time_values)

# Check the shape (length) of y_test and lead_time_values
print("Length of y_test:", len(y_test))
print("Shape of lead_time_values:", lead_time_values.shape)

# Print lead_time_values to understand its content
print("Values in lead_time_values:", lead_time_values)

# Check if the condition is resulting in a valid array
condition_result = lead_time_values < 0.01
print("Shape of condition_result:", condition_result.shape)

# Evaluate the performance of the Bayesian model
accuracy = accuracy_score(y_test, condition_result.astype(int))
print(f"Accuracy: {accuracy:.2f}")

# Print classification report
# print(classification_report(y_test, condition_result.astype(int)))

Lead time values: -0.30433397627705383
Length of y_test: 10886
Shape of lead_time_values: ()
Values in lead_time_values: -0.30433397627705383
Shape of condition_result: ()

TypeError: Singleton array 1 cannot be considered a valid collection.

In [72]:
X_train.shape

(25399, 27)

In [73]:
X_test.shape

(10886, 27)

In [74]:
y_train.shape

(25399,)

In [75]:
y_test.shape

(10886,)

In [77]:
# List all variable names in the trace
print(trace.varnames)

['Intercept', 'lead_time', 'number_of_adults', 'number_of_children', 'number_of_weekend_nights', 'number_of_week_nights', 'special_requests', 'sd_log__', 'sd']

In [ ]:
import pymc3 as pm
import pandas as pd
import arviz as az

# Assuming df is your DataFrame

# Encode 'booking_status' into binary format
df['booking_status'] = (df['booking_status'] == 'Canceled').astype(int)

with pm.Model() as bayesian_model:
    # Prior for the probability parameter (Beta distribution)
    p = pm.Beta('p', alpha=2, beta=2)
    
    # Likelihood (Binomial distribution)
    likelihood = pm.Binomial('likelihood', n=len(df['booking_status']), p=p, observed=df['booking_status'])
    
    # Sample from the posterior distribution
    trace = pm.sample(2000, tune=100, cores=1)  # Adjust the number of samples and tuning steps as needed

# Check the summary of the Bayesian model
print(pm.summary(trace))

# Plot posterior distribution
az.plot_posterior(trace, var_names=['p'])

C:\Users\Jishan\anaconda3\lib\site-packages\deprecat\classic.py:215: FutureWarning: In v4.0, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  return wrapped_(*args_, **kwargs_)
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Sequential sampling (2 chains in 1 job)
NUTS: [p]

C:\Users\Jishan\anaconda3\lib\site-packages\theano\scalar\basic.py:2851: RuntimeWarning: divide by zero encountered in true_divide
  return np.float32(1.0) / x
C:\Users\Jishan\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\Jishan\anaconda3\lib\site-packages\theano\tensor\elemwise.py:826: RuntimeWarning: invalid value encountered in impl (vectorized)
  variables = ufunc(*ufunc_args, **ufunc_kwargs)
C:\Users\Jishan\anaconda3\lib\site-packages\theano\scalar\basic.py:3133: RuntimeWarning: overflow encountered in expm1
  return np.expm1(x)
C:\Users\Jishan\anaconda3\lib\site-packages\theano\scalar\basic.py:2893: RuntimeWarning: divide by zero encountered in log
  return np.log(x)